@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"), url("../fonts/flaticon.woff") format("woff"), url("../fonts/flaticon.ttf") format("truetype"), url("../fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

.contacts-icon, .prices-icon, .personal-icon, .business-icon, .blog-icon, .info-icon {
    background: url('../i/sprite.png') no-repeat
}

.info-icon {
    background-position: 0 0;
    width: 21px;
    height: 21px
}

.contacts-icon {
    background-position: -118px 0;
    width: 21px;
    height: 21px
}

.prices-icon {
    background-position: -100px 0;
    width: 15px;
    height: 21px
}

.personal-icon {
    background-position: -86px 0;
    width: 10px;
    height: 21px
}

.business-icon {
    background-position: -52px 0;
    width: 28px;
    height: 22px
}

.blog-icon {
    background-position: -26px 0;
    width: 21px;
    height: 22px
}

[class^="flaticon-"] {
    margin-right: 10px
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 13px;
    font-style: normal
}

.flaticon-career:before {
    content: "\e000";
    font-size: 18px
}

.flaticon-frontal7 {
    margin-right: 0
}

.flaticon-frontal7:before {
    content: "\e001";
    font-size: 19px
}

.flaticon-info2 {
    width: 20px;
    height: 20px;
    background: #3d79cd;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 20px
}

.flaticon-info2:before {
    content: "\e002";
    color: #fff;
    text-align: center;
    vertical-align: 2px
}

.flaticon-medical50 {
    margin-right: 5px
}

.flaticon-medical50:before {
    content: "\e003";
    font-size: 19px
}

.flaticon-newspaper11:before {
    content: "\e004";
    font-size: 19px
}

.flaticon-phone16 {
    margin-right: 5px
}

.flaticon-phone16:before {
    content: "\e005";
    font-size: 19px
}

html, body {
    height: 100%
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #333;
    background: url('../i/bg.jpg') left top no-repeat;
    background-size: cover
}

.page-wrapper {
    min-height: 100%;
    margin-bottom: -100px
}

.page-buffer {
    height: 100px
}

.overflow {
    position: fixed;
    width: auto;
    height: auto;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0)
}

.row {
    clear: both
}

.row .service p {
    font-size: 16px
}

a, a:visited, a:active {
    font-weight: 400;
    color: #3d79cd;
    text-decoration: underline;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

a:hover, a:visited:hover, a:active:hover {
    text-decoration: none
}

h1 {
    font-size: 32px;
    padding-top: 20px;
    clear: both
}

h1.contacts {
    margin-left: 25.2%
}

h3 {
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px
}

p {
    line-height: 1.3
}

textarea, input[type="text"] {
    border: 1px solid #a9a9a9
}

ol {
    counter-reset: item;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.3
}

ol li {
    position: relative;
    padding-bottom: 25px
}

ol li:before {
    content: counters(item, ".") ".";
    counter-increment: item;
    margin-right: 5px;
    font-size: 28px
}

ol li .title {
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-size: 28px;
    padding-bottom: 5px
}

.leftcolumn {
    padding-left: 25px
}

.leftcolumn-title {
    font-size: 18px
}

ul.rightcolumn-list, ul.leftcolumn-list {
    padding-top: 10px
}

ul.rightcolumn-list li, ul.leftcolumn-list li {
    font-size: 13px;
    padding-bottom: 10px
}

ul.rightcolumn-list li a, ul.leftcolumn-list li a {
    text-decoration: none
}

ul.rightcolumn-list li {
    padding-right: 50px;
    position: relative
}

ul.rightcolumn-list li .price {
    position: absolute;
    top: 0;
    right: 0
}

.col-md-14 > h1 {
    padding-top: 0;
    margin-top: 0
}

ul.posts li {
    clear: both;
    padding-bottom: 30px;
    line-height: 1.3
}

ul.posts li .title {
    font-size: 24px
}

ul.posts li .title a {
    text-decoration: none
}

ul.posts li .text {
    font-size: 13px
}

ul.posts li .text img {
    float: right;
    margin-bottom: 10px;
    margin-left: 10px;
    max-width: 40%
}

.date {
    font-size: 13px;
    padding: 15px 0 10px 0
}

.pagination-wrapper ul.pagination li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-right: 10px;
    margin-bottom: 30px;
    font-size: 16px
}

.pagination-wrapper ul.pagination li a {
    text-decoration: none
}

.pagination-wrapper ul.pagination li span {
    color: #3d79cd
}

.pagination-wrapper ul.pagination li.active {
    font-weight: 700
}

.blog-new-image {
    width: 100%
}

.blog-new-image + h1 {
    padding-top: 20px;
    font-size: 24px
}

.blog-navigation-wrapper {
    font-size: 15px;
    position: relative
}

.blog-navigation-wrapper .date {
    font-size: 13px;
    padding: 0;
    padding-top: 10px
}

.blog-navigation-wrapper .arrow {
    position: absolute;
    top: 15px;
    cursor: pointer
}

.blog-navigation-wrapper a {
    text-decoration: none
}

.blog-navigation-wrapper .leftpost {
    width: 45%;
    float: left
}

.blog-navigation-wrapper .leftpost .arrow {
    left: -35px
}

.blog-navigation-wrapper .rightpost {
    width: 45%;
    float: right;
    text-align: right
}

.blog-navigation-wrapper .rightpost .arrow {
    right: -35px
}

ul.breadcrumbs li {
    font-size: 13px;
    display: inline-block;
    *display: inline;
    zoom: 1
}

ul.breadcrumbs li:after {
    content: '»';
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 5px
}

ul.breadcrumbs li:last-of-type:after {
    display: none
}

.toppadding {
    padding-top: 65px
}

label {
    font-size: 13px;
    font-weight: 400;
    width: 128px;
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: -8px;
    text-align: right
}

label[for="info"] {
    display: block;
    white-space: wrap;
    overflow: visible;
    width: auto;
    padding-bottom: 5px;
    text-align: left
}

label.error {
    width: auto;
    color: #fff;
    padding: 5px 10px;
    background: rgba(255, 0, 0, 0.4);
    position: absolute;
    left: 380px;
    top: 11px;
    overflow: visible
}

label.error:before {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: -6px;
    border-right: 6px solid rgba(255, 0, 0, 0.4);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent
}

.order-consult-container.hidden, .contact-form.hidden, .order-consult-form.hidden {
    display: none
}

.order-consult-container textarea, .contact-form textarea, .order-consult-form textarea {
    display: block;
    width: 320px;
    height: 100px;
    font-size: 13px;
    text-decoration: none;
    color: #000000
}

.order-consult-container fieldset, .contact-form fieldset, .order-consult-form fieldset {
    padding: 10px 0;
    padding-left: 75px;
    position: relative
}

.order-consult-container input[type="text"], .contact-form input[type="text"], .order-consult-form input[type="text"] {
    width: 190px;
    height: 25px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left
}

.btn {
    width: 150px;
    background: #3d79cd;
    border: 1px solid transparent;
    color: #fff;
    margin: 0 auto;
    display: block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.btn:hover {
    background: #fff;
    border: 1px solid #3d79cd;
    color: #000
}

.order-consult-form {
    width: 520px;
    margin: 0 auto
}

.contact-form {
    padding-bottom: 60px
}

.contact-form fieldset {
    padding-left: 160px
}

.contact-form label {
    width: 120px
}

.contact-form textarea {
    width: 310px
}

.contact-form label.error {
    left: auto;
    margin-left: 12px;
    width: auto
}

.contact-form .btn {
    float: right
}

table.prices td {
    font-size: 16px;
    text-align: right;
    padding-bottom: 10px;
    line-height: 1.3
}

table.prices td:first-of-type {
    width: 80%;
    text-align: left
}

table.prices td:last-of-type {
    font-size: 28px;
    color: #437ECA
}

table.contacts {
    margin-top: 30px;
    border-bottom: 2px solid #000
}

table.contacts td {
    vertical-align: top;
    font-size: 16px;
    padding-bottom: 20px;
    line-height: 1.3
}

table.contacts td.title {
    font-size: 36px
}

table.contacts td:first-of-type {
    width: 160px;
    font-size: 24px
}

.form-title {
    font-size: 22px;
    position: relative;
    top: 24px
}

form.order-consult-form {
    margin-bottom: 50px
}

.map-wrapper {
    height: 270px;
    width: 100%;
    background: #ccc
}

.loading-image {
    background: url(/assets/less/../i/loader.gif) no-repeat center center;
    height: 320px;
    width: 100%;
    z-index: 10
}

#order-consult-container {
    width: 100%;
    height: 340px;
    position: relative
}

.loader, .order-consult-form {
    width: 470px;
    height: 100%;
    margin: 0 250px;
    position: absolute;
    top: 0;
    left: 0
}

.loader-inner-container {
    text-align: center
}

.topmenu-wrapper {
    height: 160px;
    position: relative;
    padding: 36px 10px 0 10px
}

.logo-wrapper {
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-weight: 700;
    font-size: 34px;
    margin-right: 37px
}

.logo-wrapper a {
    text-decoration: none;
    color: #333;
    font-weight: 700
}

.logo-wrapper a:hover {
    color: #333;
    text-decoration: none;
    font-weight: 700
}

.logo-wrapper span {
    display: block;
    font-weight: 400;
    font-style: normal;
    font-size: 13px
}

.search-wrapper {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: 9px
}

.phone-wrapper {
    position: absolute;
    top: 36px;
    right: 10px;
    text-align: right;
    font-size: 24px
}

.phone-wrapper span {
    display: block;
    font-size: 21px;
    margin-top: -10px
}

.phone-wrapper span + span {
    margin-top: 0px
}

a.order-call {
    font-size: 13px;
    display: block;
    padding-top: 10px;
    text-decoration: none
}

.order-call-wrapper {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background: #fff;
    font-size: 13px;
    border: 1px solid #3d79cd;
    padding: 25px;
    padding-bottom: 35px;
    z-index: 1
}

.order-call-wrapper .title {
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center
}

.order-call-wrapper fieldset {
    margin-bottom: 10px;
    position: relative
}

.order-call-wrapper input[type="text"] {
    padding: 5px;
    color: #555;
    border: 1px solid #3d79cd;
    box-sizing: border-box;
    height: 25px;
    width: 150px
}

.order-call-wrapper input[type="text"].error {
    border-color: red
}

.order-call-wrapper input[type="text"].error:focus {
    outline-color: transparent
}

.order-call-wrapper label.error {
    left: 145px;
    right: 0;
    top: 2px;
    text-align: center;
    color: red;
    background: none
}

.order-call-wrapper label.error:before {
    display: none
}

.order-call-wrapper p {
    text-align: left
}

.order-call-wrapper .btn-ok {
    width: 150px;
    color: #fff;
    background: #3d79cd
}

.close-icon {
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer
}

.languages-wrapper {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    font-size: 13px;
    text-align: center
}

ul.lang li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding-right: 5px
}

ul.lang li:after {
    content: '|';
    display: inline-block;
    margin-left: 10px
}

ul.lang li:last-of-type:after {
    display: none
}

ul.lang li span {
    font-weight: 700
}

.dropdown-wrapper {
    position: absolute;
    z-index: 1;
    display: none;
    top: 40px;
    left: 0;
    background: #3d79cd;
    padding: 10px 0
}

.dropdown-wrapper ul.dropdownmenu li {
    border-top: none;
    display: block;
    width: auto;
    padding: 5px 10px;
    margin-right: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.dropdown-wrapper ul.dropdownmenu li:hover {
    background: #8fb1e1
}

.dropdown-wrapper ul.dropdownmenu li a {
    color: #fff;
    font-size: 14px;
    padding-left: 0;
    max-width: none;
    overflow: visible
}

ul.nav {
    padding: 20px 0px
}

ul.nav li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    box-sizing: border-box;
    width: 150px;
    border-top: 2px solid #437eca;
    margin-right: 10px;
    padding-top: 5px;
    text-align: left;
    font-size: 19px;
    white-space: nowrap;
    line-height: 1.3
}

ul.nav li > a {
    text-decoration: none;
    max-width: 150px;
    display: block;
    overflow: hidden
}

ul.nav li > a:hover .flaticon-info2 {
    opacity: .9
}

ul.nav li:last-of-type {
    margin-right: 0
}

ul.nav li.dropdown {
    position: relative;
    padding-bottom: 20px
}

ul.nav li.dropdown:hover .dropdown-wrapper {
    display: block
}

ul.nav li.active {
    border-top: 2px solid #e52322;
    color: #e52322
}

ul.nav li.active > a {
    color: #e52322
}

ul.nav li.active > a .flaticon-info2 {
    background: #ce5240
}

ul.nav li.active > a:hover .flaticon-info2 {
    opacity: 1
}

input[name="search"] {
    width: 150px;
    height: 25px;
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #999999;
    text-align: left
}

a.order-consult-wrapper {
    font-size: 24px;
    text-align: center;
    white-space: nowrap;
    display: block;
    margin: 1em auto 1em;
    width: 13em;
    clear: both;
    padding: 20px;
    border: 1px solid #3d79cd;
    color: #3d79cd;
    border-radius: 5px;
    text-decoration: none;
    background: #fff
}

a.order-consult-wrapper:hover {
    background: #5187d2;
    border-color: transparent;
    color: #fff
}

a.order-consult-wrapper.active {
    background: transparent !important;
    border-color: transparent !important;
    color: #3d79cd !important
}

.header-image-wrapper img {
    width: 100%;
    padding-bottom: 15px
}

footer {
    clear: both;
    height: 100px;
    overflow: hidden;
    background: #437eca;
    font-size: 16px;
    color: #fff;
    min-width: 1000px
}

footer .container {
    position: relative
}

ul.bottom-menu {
    padding: 20px 0
}

ul.bottom-menu li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-right: 10px
}

ul.bottom-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px
}

ul.bottom-menu li a:hover {
    text-decoration: underline
}

.contacts-wrapper {
    position: absolute;
    top: 14px;
    right: 15px;
    text-align: right;
    font-size: 13px;
    line-height: 1.2
}

.copyright {
    display: block;
    text-align: center;
    border-top: 1px solid rgba(254, 254, 254, 0.15);
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 13px
}

.copyright a {
    color: #fff
}

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 800px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3)
}

.jcarousel ul.slides {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0
}

.jcarousel ul.slides li {
    float: left;
    width: 800px;
    position: relative
}

.jcarousel ul.slides li .title {
    position: absolute;
    bottom: 0;
    z-index: 1;
    right: 0;
    padding: 15px;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff
}

a.slider-prev, a.slider-next {
    position: absolute;
    top: 40%;
    display: block;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    font-size: 36px;
    text-align: center;
    display: inline-block
}

a.slider-prev:before, a.slider-next:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle
}

a.slider-prev:hover, a.slider-next:hover {
    color: #fcfcfc;
    background: rgba(0, 0, 0, 0.7)
}

a.slider-prev:active, a.slider-next:active {
    color: #fff
}

a.slider-prev {
    left: 10px
}

a.slider-prev:active {
    -ms-transform: translate(-5px, 0px);
    -webkit-transform: translate(-5px, 0px);
    transform: translate(-5px, 0px)
}

a.slider-next {
    right: 10px
}

a.slider-next:active {
    -ms-transform: translate(5px, 0px);
    -webkit-transform: translate(5px, 0px);
    transform: translate(5px, 0px)
}

.services-wrapper .title {
    margin-top: 10px;
    font-size: 32px;
    padding: 20px 0
}

.services-wrapper .center {
    width: 100%
}

.services-wrapper table {
    width: 100%;
    margin: 10px auto 30px auto
}

.services-wrapper table tr:nth-child(odd) {
    background: rgba(61, 121, 205, 0.2)
}

.services-wrapper table td {
    padding: 10px
}

.services-wrapper ul.services-list li {
    background: rgba(61, 121, 205, 0.2);
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    float: left;
    margin: 0 20px 20px 0;
    box-sizing: border-box;
    width: 31.4%;
    color: #fff;
    padding: 10px;
    height: 120px;
    overflow: hidden;
    position: relative;
    font-size: 24px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3)
}

.services-wrapper ul.services-list li:hover {
    opacity: .9
}

.services-wrapper ul.services-list li a {
    display: block;
    height: 100%;
    color: #3d79cd;
    text-decoration: none
}

.services-wrapper ul.services-list li:hover {
    background: white;
    box-shadow: none
}

.services-wrapper ul.services-list li:hover a {
    color: #e52322
}

.services-wrapper ul.services-list li .price {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px 0px;
    width: 50%;
    font-size: 13px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2)
}

.services-wrapper ul.services-list li:nth-of-type(3n) {
    margin-right: 0px
}

.container {
    width: 1000px
}

.col-md-offset-3 {
    margin-left: 12.5%
}

.col-md-18 {
    width: 75%
}

.col-md-offset-6 {
    margin-left: 25%
}

.col-md-12 {
    width: 50%
}

.leftcolumn {
    padding-left: 25px
}

.col-md-5 {
    width: 20.83333333%;
    float: left
}

.col-md-14 {
    width: 58.33333333%;
    float: left
}

.col-md-6 {
    width: 25%;
    float: left
}

.col-md-12 {
    width: 50%;
    float: left
}

i.png {
    background: url(../i/sprite.png) no-repeat left top;
    display: inline-block;
    width: 24px;
    height: 27px;
    vertical-align: bottom
}

i.png:before {
    content: '';
    display: none
}

i.png.flaticon-info2 {
    background-position: 0 0;
    width: 24px
}

.active i.png.flaticon-info2, a:hover i.png.flaticon-info2 {
    background-position: 0 -28px
}

i.png.flaticon-newspaper11 {
    background-position: -24px 0;
    width: 26px
}

.active i.png.flaticon-newspaper11, a:active i.png.flaticon-newspaper11 {
    background-position: -24px -28px
}

i.png.flaticon-career {
    background-position: -50px 0;
    width: 33px
}

.active i.png.flaticon-career, a:active i.png.flaticon-career {
    background-position: -50px -28px
}

i.png.flaticon-frontal7 {
    background-position: -83px 0;
    width: 16px
}

.active i.png.flaticon-frontal7, a:active i.png.flaticon-frontal7 {
    background-position: -83px -28px
}

i.png.flaticon-medical50 {
    background-position: -97px 0;
    width: 20px
}

.active i.png.flaticon-medical50, a:active i.png.flaticon-medical50 {
    background-position: -97px -28px
}

i.png.flaticon-phone16 {
    background-position: -117px 0;
    width: 23px
}

.active i.png.flaticon-phone16, a:active i.png.flaticon-phone16 {
    background-position: -117px -28px
}