@import "custom_mixins";

// ---------------- Variables ---------------- //
@sprite: '../i/sprite.png';
@url: '../i/';

@brand_color: #3D79CD;
@brand_active: #e52322;

// ---------------- Fonts ---------------- //
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
  url("../fonts/flaticon.woff") format("woff"),
  url("../fonts/flaticon.ttf") format("truetype"),
  url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

// ---------------- Icons ---------------- //
.contacts-icon,
.prices-icon,
.personal-icon,
.business-icon,
.blog-icon,
.info-icon{
  background: url('../i/sprite.png') no-repeat;
}
.info-icon{
  background-position: 0 0;
  width: 21px;
  height: 21px;
}
.contacts-icon{
  background-position: -118px 0;
  width: 21px;
  height: 21px;
}
.prices-icon{
  background-position: -100px 0;
  width: 15px;
  height: 21px;
}
.personal-icon{
  background-position: -86px 0;
  width: 10px;
  height: 21px;
}
.business-icon{
  background-position: -52px 0;
  width: 28px;
  height: 22px;
}
.blog-icon{
  background-position: -26px 0;
  width: 21px;
  height: 22px;
}
[class^="flaticon-"]{
  margin-right: 10px;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 13px;
  font-style: normal;
}
.flaticon-career:before {
  content: "\e000";
  font-size: 18px;
}
.flaticon-frontal7{
  margin-right: 0;
}
.flaticon-frontal7:before {
  content: "\e001";
  font-size: 19px;
}
.flaticon-info2{
  width: 20px;
  height: 20px;
  background: @brand_color;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}
.flaticon-info2:before {
  content: "\e002";
  color: #fff;
  text-align: center;
  vertical-align: 2px;
}
.flaticon-medical50{
  margin-right: 5px;
}
.flaticon-medical50:before {
  content: "\e003";
  font-size: 19px;
}
.flaticon-newspaper11:before {
  content: "\e004";
  font-size: 19px;
}
.flaticon-phone16{
  margin-right: 5px;
}
.flaticon-phone16:before {
  content: "\e005";
  font-size: 19px;
}

// ---------------- Defaults ---------------- //
html,body{
  height: 100%;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  color: #333;
  background: url('../i/bg.jpg') left top no-repeat;
  background-size: cover;
}
.page-wrapper{
  min-height: 100%;
  margin-bottom: -100px;
}
.page-buffer {
  height: 100px;
}
.overflow{
  position: fixed;
  width: auto;
  height: auto;
  z-index: 1;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: rgba(255,255,255,.000000000000001);
}
.row{
  clear: both;
  .service{
    p{
      font-size: 16px;
    }
  }
}
a,
a:visited,
a:active{
  font-weight: 400;
  color: @brand_color;
  text-decoration: underline;
  .transition;
  &:hover{
    text-decoration: none;
  }
}
h1{
  font-size: 32px;
  padding-top: 20px;
  clear: both;
  &.contacts{
    margin-left: 25.2%;
  }
}
h3{
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
}
p{
  line-height: 1.3;
}
textarea,
input[type="text"]{
  border: 1px solid rgb(169, 169, 169);
}
ol{
  counter-reset: item;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.3;
  li{
    position: relative;
    padding-bottom: 25px;
    &:before{
      content: counters(item, ".") ".";
      counter-increment: item;
      margin-right: 5px;
      font-size: 28px;
    }
    .title{
      display: inline-block;
      *display: inline;
      zoom: 1;
      font-size: 28px;
      padding-bottom: 5px;
    }
  }
}
.leftcolumn{
  padding-left: 25px;
}
.leftcolumn-title{
  font-size: 18px;
}
ul.rightcolumn-list,
ul.leftcolumn-list{
  padding-top: 10px;
  li{
    font-size: 13px;
    padding-bottom: 10px;
    a{
      text-decoration: none;
    }
  }
}
ul.rightcolumn-list{
  li{
    padding-right: 50px;
    position: relative;
    .price{
      position: absolute;
      top:0;
      right:0;
    }
  }
}
.col-md-14 > h1{
  padding-top: 0;
  margin-top: 0;
}
ul.posts{
  li{
    clear: both;
    padding-bottom: 30px;
    line-height: 1.3;
    .title{
      font-size: 24px;
      a{
        text-decoration: none;
      }
    }
    .text{
      font-size: 13px;
      img{
        float: right;
        margin-bottom: 10px;
        margin-left: 10px;
        max-width: 40%;
      }
    }
  }
}
.date{
  font-size: 13px;
  padding: 15px 0 10px 0;
}
.pagination-wrapper{
  ul.pagination{
    li{
      display: inline-block;
      *display: inline;
      zoom: 1;
      margin-right: 10px;
      margin-bottom: 30px;
      font-size: 16px;
      a{
        text-decoration: none;
      }
      span{
        color: @brand_color;
      }
      &.active{
        font-weight: 700;
      }
    }
  }
}
.blog-new-image{
  width: 100%;
}
.blog-new-image + h1{
  padding-top: 20px;
  font-size: 24px;
}
.blog-navigation-wrapper{
  font-size: 15px;
  position: relative;
  .date{
    font-size: 13px;
    padding: 0;
    padding-top: 10px;
  }
  .arrow{
    position: absolute;
    top:15px;
    cursor: pointer;
  }
  a{
    text-decoration: none;
  }
  .leftpost{
    width: 45%;
    float: left;
    .arrow{
      left: -35px;
    }
  }
  .rightpost{
    width: 45%;
    float: right;
    text-align: right;
    .arrow{
      right: -35px;
    }
  }
}
ul.breadcrumbs{
  li{
    font-size: 13px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    &:after{
      content: '»';
      display: inline-block;
      *display: inline;
      zoom: 1;
      margin: 0 5px;
    }
    &:last-of-type{
      &:after{
        display: none;
      }
    }
  }
}
.toppadding{
  padding-top: 65px;
}
label{
  font-size: 13px;
  font-weight: 400;
  width: 128px;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: -8px;
  text-align: right;
  &[for="info"]{
    display: block;
    white-space: wrap;
    overflow: visible;
    width: auto;
    padding-bottom: 5px;
    text-align: left;
  }
  &.error{
    width: auto;
    color: #fff;
    padding: 5px 10px;
    background: rgba(255,0,0,.4);
    position: absolute;
    left: 380px;
    top: 11px;
    overflow: visible;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top:7px;
      left:-6px;
      border-right: 6px solid rgba(255,0,0,.4);
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
    }
  }
}

.order-consult-container,
.contact-form,
.order-consult-form{
  &.hidden{
    display: none;
  }
  textarea{
    display: block;
    width: 320px;
    height: 100px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
  }
  fieldset{
    padding: 10px 0;
    padding-left: 75px;
    position: relative;
  }
  input[type="text"]{
    width: 190px;
    height: 25px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
  }
}
.btn{
  width: 150px;
  background: @brand_color;
  border: 1px solid transparent;
  color: #fff;
  margin: 0 auto;
  display: block;
  .transition;
  &:hover{
    background: #fff;
    border: 1px solid @brand_color;
    color: #000;
  }
}
.order-consult-form{
  width: 520px;
  margin: 0 auto;
}
.contact-form{
  padding-bottom: 60px;
  fieldset{
    padding-left: 160px;
  }
  label{
    width: 120px;
  }
  textarea{
    width: 310px;
  }
  label{
    &.error{
      left: auto;
      margin-left: 12px;
      width: auto;
    }
  }
  .btn{
    float: right;
  }
}
table.prices{
  td{
    font-size: 16px;
    text-align: right;
    padding-bottom: 10px;
    line-height: 1.3;
    &:first-of-type{
      width: 80%;
      text-align: left;
    }
    &:last-of-type{
      font-size: 28px;
      color: #437ECA;
    }
  }
}
table.contacts{
  margin-top: 30px;
  border-bottom: 2px solid #000;
  td{
    &.title{
      font-size: 36px;
    }
    vertical-align: top;
    font-size: 16px;
    padding-bottom: 20px;
    line-height: 1.3;
    &:first-of-type{
      width: 160px;
      font-size: 24px;
    }
    &:last-of-type{
    }
  }
}
.form-title{
  font-size: 22px;
  position: relative;
  top: 24px;
}
form.order-consult-form{
  margin-bottom: 50px;
}
.map-wrapper{
  height: 270px;
  width: 100%;
  background: #ccc;
}

.loading-image {
  background: url(../i/loader.gif) no-repeat center center;
  height: 320px;
  width: 100%;
  z-index: 10;
}

#order-consult-container {
  width: 100%;
  height: 340px;
  position: relative;
}

.loader, .order-consult-form {
  width: 470px;
  height: 100%;
  margin: 0 250px;
  position: absolute;
  top: 0;
  left: 0;
}

.loader-inner-container {
  text-align: center;
}

// ---------------- Header ---------------- //
.topmenu-wrapper{
  height: 160px;
  position: relative;
  padding: 36px 10px 0 10px;
}
.logo-wrapper{
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-weight: 700;
  font-size: 34px;
  margin-right: 37px;
  a{
    text-decoration: none;
    color: #333;
    font-weight: 700;
    &:hover{
      color: #333;
      text-decoration: none;
      font-weight: 700;
    }
  }
  span{
    display: block;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
  }
}
.search-wrapper{
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: 9px;
}
.phone-wrapper{
  position: absolute;
  top: 36px;
  right:10px;
  text-align: right;
  font-size: 24px;
  span{
    display: block;
    font-size: 21px;
    margin-top: -10px;
  }
  span + span{
    margin-top: 0px;
  }
}
a.order-call{
  font-size: 13px;
  display: block;
  padding-top: 10px;
  text-decoration: none;
}
.order-call-wrapper{
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background: #fff;
  font-size: 13px;
  border: 1px solid @brand_color;
  padding: 25px;
  padding-bottom: 35px;
  z-index: 1;
  .title{
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
  }
  fieldset{
    margin-bottom: 10px;
    position: relative;
  }
  input[type="text"]{
    padding: 5px;
    color: #555;
    border: 1px solid @brand_color;
    box-sizing: border-box;
    height: 25px;
    width: 150px;
    &.error{
      &:focus{
        outline-color: transparent;
      }
      border-color: red;
    }
  }
  label.error{
    left: 145px;
    right: 0;
    top: 2px;
    text-align: center;
    color: red;
    background: none;
    &:before{
      display: none;
    }
  }
  p{
    text-align: left;
  }
  .btn-ok{
    width: 150px;
    color: #fff;
    background: @brand_color;
  }
}
.close-icon{
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.languages-wrapper{
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  font-size: 13px;
  text-align: center;
}
ul.lang{
  li{
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding-right: 5px;
    &:after{
      content: '|';
      display: inline-block;
      margin-left: 10px;
    }
    &:last-of-type{
      &:after{
        display: none;
      }
    }
    span{
      font-weight: 700;
    }
  }
}
.dropdown-wrapper{
  position: absolute;
  z-index: 1;
  display: none;
  top:40px;
  left:0;
  background: @brand_color;
  padding: 10px 0;
  ul.dropdownmenu{
    li{
      border-top: none;
      display: block;
      width: auto;
      padding: 5px 10px;
      margin-right: 0;
      .transition;
      &:hover{
        background: #8fb1e1;
      }
      a{
        color: #fff;
        font-size: 14px;
        padding-left: 0;
        max-width: none;
        overflow: visible;
        &:hover{
          //text-decoration: underline;
        }
      }
    }
  }
}
ul.nav{
  padding: 20px 0px;
  li{
    display: inline-block;
    *display: inline;
    zoom: 1;
    box-sizing: border-box;
    width: 150px;
    border-top: 2px solid #437eca;
    margin-right: 10px;
    padding-top: 5px;
    text-align: left;
    font-size: 19px;
    white-space: nowrap;
    line-height: 1.3;
    > a{
      text-decoration: none;
      max-width: 150px;
      display: block;
      overflow: hidden;
      &:hover{
        .flaticon-info2{
          opacity: .9;
        }
      }
    }
    &:last-of-type{
      margin-right: 0;
    }
    &.dropdown{
      position: relative;
      padding-bottom: 20px;
      &:hover{
        .dropdown-wrapper{
          display: block;
        }
      }
    }
    &.active{
      border-top: 2px solid @brand_active;
      color: @brand_active;
      > a{
        color: @brand_active;
        .flaticon-info2{
          background: #ce5240;
        }
        &:hover{
          .flaticon-info2{
            opacity: 1;
          }
        }
      }
    }
  }
}
input[name="search"]{
  width: 150px;
  height: 25px;
  font-family: 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  text-decoration: none;
  color: #999999;
  text-align: left;
}
a.order-consult-wrapper{
  font-size: 24px;
  text-align: center;
  white-space: nowrap;


  display: block;
  margin: 1em auto 1em;
  width: 13em;

  clear: both;
  padding: 20px;

  border:1px solid @brand_color;
  color:@brand_color;
  border-radius: 5px;

  text-decoration: none;
  background: #fff;


  &:hover{
    background: lighten(@brand_color,5%);
    border-color:transparent;
    color:#fff;
  }

  &.active{
    background: transparent !important;
    border-color:transparent !important;
    color:@brand_color !important;
  }
}
.header-image-wrapper{
  img{
    width: 100%;
    padding-bottom: 15px;
  }
}

// ---------------- Footer ---------------- //
footer{
  clear: both;
  height: 100px;
  overflow: hidden;
  background: #437eca;
  font-size: 16px;
  color: #fff;
  min-width: 1000px;
  .container{
    position: relative;
  }
}
ul.bottom-menu{
  padding: 20px 0;
  li{
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-right: 10px;
    a{
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
.contacts-wrapper{
  position: absolute;
  top: 14px;
  right: 15px;
  text-align: right;
  font-size: 13px;
  line-height: 1.2;
}
.copyright{
  display: block;
  text-align: center;
  border-top: 1px solid rgba(254,254,254,.15);
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 13px;
  a{
    color: #fff;
  }
}

// ---------------- Slider ---------------- //
.jcarousel{
  position: relative;
  overflow: hidden;
  width: 800px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  ul.slides{
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      float: left;
      width: 800px;
      position: relative;
      .title{
        position: absolute;
        bottom: 0;
        z-index: 1;
        right: 0;
        padding: 15px;
        font-size: 24px;
        background: rgba(0,0,0,.5);
        color: #fff;
      }
    }
  }
}
a.slider-prev,
a.slider-next{
  position: absolute;
  top:40%;
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,.5);
  z-index: 1;
  .border-radius(50%);
  color: #fff;
  text-decoration: none;
  font-size: 36px;
  text-align: center;
  display: inline-block;
  &:before{
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
  &:hover{
    color: #fcfcfc;
    background: rgba(0,0,0,.7);
  }
  &:active{
    color: #fff;
  }
}
a.slider-prev{
  left: 10px;
  &:active{
    -ms-transform: translate(-5px,0px);
    -webkit-transform: translate(-5px,0px);
    transform: translate(-5px,0px);
  }
}
a.slider-next{
  right: 10px;
  &:active{
    -ms-transform: translate(5px,0px);
    -webkit-transform: translate(5px,0px);
    transform: translate(5px,0px);
  }
}

// ---------------- Homepage ---------------- //
.services-wrapper{
  .title{
    margin-top:10px;
    font-size: 32px;
    padding: 20px 0;
  }
  .center {
    width: 100%;
  }
  table {
    width: 100%;
    margin: 10px auto 30px auto;
    tr:nth-child(even) {
    }
    tr:nth-child(odd) {
      background: fade(@brand_color,20%);
    }
    td {
      padding: 10px;
    }
  }
  ul.services-list{
    li{
      background: fade(@brand_color,20%);
      cursor: pointer;
      .transition;
      float: left;
      &:hover{
        opacity: .9;
      }
      margin: 0 20px 20px 0;
      box-sizing: border-box;
      width: 31.4%;
      color: #fff;
      padding: 10px;
      height: 120px;
      overflow: hidden;
      position: relative;
      font-size: 24px;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);


      a{
        display: block;
        height: 100%;
        color: @brand_color;
        text-decoration: none;
      }


      &:hover{
        background: white;
        box-shadow: none;



        a{
          color:@brand_active;
        }
      }



      .price{
        position: absolute;
        bottom: 0px;        right: 0px;
        padding: 10px 0px;
        width: 50%;
        font-size: 13px;
        text-align: center;
        background: rgba(255, 255, 255, 0.20);
      }
      &:nth-of-type(3n){
        margin-right: 0px;
      }
    }
  }
}

// ---------------- Adaptive styles remove ---------------- //
.container{
  width: 1000px;
}
.col-md-offset-3 {
  margin-left: 12.5%;
}
.col-md-18 {
  width: 75%;
}
.col-md-offset-6 {
  margin-left: 25%;
}
.col-md-12 {
  width: 50%;
}
.leftcolumn {
  padding-left: 25px;
}
.col-md-5 {
  width: 20.83333333%;
  float: left;
}
.col-md-14 {
  width: 58.33333333%;
  float: left;
}
.col-md-6 {
  width: 25%;
  float: left;
}
.col-md-12 {
  width: 50%;
  float: left;
}



// ------------- replace iconfont to png ------------------- //



i.png{
  background:url(../i/sprite.png) no-repeat left top;
  display: inline-block;

  width:24px;
  height:27px;
  vertical-align: bottom;
}


i.png:before{
  content:'';
  display: none;
}


i.png.flaticon-info2{
  background-position: 0 0;
  width:24px;
}

.active i.png.flaticon-info2, a:hover i.png.flaticon-info2{
  background-position: 0 -28px;
}


i.png.flaticon-newspaper11{
  background-position: -24px 0;
  width:26px;
}

.active i.png.flaticon-newspaper11, a:active i.png.flaticon-newspaper11{
  background-position: -24px -28px;
}



i.png.flaticon-career{
  background-position: -50px 0;
  width:33px;
}

.active i.png.flaticon-career, a:active i.png.flaticon-career{
  background-position: -50px -28px;
}


i.png.flaticon-frontal7{
  background-position: -83px 0;
  width:16px;
}

.active i.png.flaticon-frontal7, a:active i.png.flaticon-frontal7{
  background-position: -83px -28px;
}


i.png.flaticon-medical50{
  background-position: -97px 0;
  width:20px;
}

.active i.png.flaticon-medical50, a:active i.png.flaticon-medical50{
  background-position: -97px -28px;
}



i.png.flaticon-phone16{
  background-position: -117px 0;
  width:23px;
}

.active i.png.flaticon-phone16, a:active i.png.flaticon-phone16 {
  background-position: -117px -28px;
}