[[$head]]
<div class="page-wrapper">
    <div class="container">
        <header>
            [[$topMenu]]
        </header>
        <section class="content-wrapper">
            <div class="row">
                <div class="col-md-5 leftcolumn">
                    <div class="leftcolumn-title">Архив</div>
                    <ul class="leftcolumn-list">
                        [[!Archivist? &parents=`[[BabelTranslation? &resourceId=`27`
                        &contextKey=`[[getCurrentContext]]`]]` &tpl=`archivistTpl` &target=`[[BabelTranslation?
                        &resourceId=`8` &contextKey=`[[getCurrentContext]]`]]` &locale=`[[++locale]]`]]
                    </ul>
                </div>
                <div class="col-md-14">
                    <h1>[[longtitle]]</h1>
                    [[*content]]
                    <h3>[[+arc_month_name]] [[+arc_year]]</h3>
                    [[!getPage@blogList?
                    &elementClass=`modSnippet`
                    &element=`getArchives`
                    &toPlaceholder=`archives`
                    &showHidden=`0`
                    &tpl=`blogIndexRowTpl`
                    &limit=`3`
                    &includeContent=`1`
                    &includeTVs=`1`
                    &processTVs=`1`
                    &parents=`[[BabelTranslation? &resourceId=`27` &contextKey=`[[getCurrentContext]]`]]`
                    &hideContainers=`1`
                    &pageLimit=`5`
                    &pageNavVar=`page.nav`
                    ]]
                    <ul class="posts">
                        [[+archives]]
                    </ul>
                    [[!+page.nav]]
                </div>
            </div>
            [[*isShowConsultation:is=`1`:then=`[[!$requestConsultation]]`]]
        </section>
        <div class="page-buffer"></div>
    </div>
</div>
[[$footer]]