[[$head]]
<div class="page-wrapper">
    <div class="container">
        <header>
            [[$topMenu]]
        </header>
        <section class="content-wrapper">
            [[*content]]
        </section>
        <div class="page-buffer"></div>
    </div>
</div>
[[$footer]]