[[$head]]
<div class="page-wrapper">
    <div class="container">
        <header>
            [[$topMenu]]
        </header>
        <section class="content-wrapper">
            <div class="row services-wrapper">
                <div class="col-md-20 col-md-offset-2">
                    [[$topPageBanner]]
                    <h1>[[longtitle]]</h1>
                    [[*content]]
                </div>
            </div>
            [[*isShowConsultation:is=`1`:then=`[[!$requestConsultation]]`]]
        </section>
        <div class="page-buffer"></div>
    </div>
</div>
[[$footer]]