[[$head]]
<div class="page-wrapper">
    <div class="container">
        <header>
            [[$topMenu]]
        </header>
        <section class="content-wrapper">
            <h1 class="contacts">[[longtitle]]</h1>

            <div id="map-wrapper" class="map-wrapper"></div>
            <div class="row">
                <div class="col-md-12 col-md-offset-6">
                    [[*content]]
                    [[$contactConsultation]]
                </div>
            </div>
        </section>
        <div class="page-buffer"></div>
    </div>
</div>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYcyHhkHd_bl7c0fK9C_J_8RkaOe-h8EI">
</script>
<script type="text/javascript">
    function initialize() {
        var position = new google.maps.LatLng(60.92726699999999, 27.531253500000048);
        var mapOptions = {
            center: position,
            zoom: 16
        };
        var map = new google.maps.Map(document.getElementById('map-wrapper'),
                mapOptions);
var contentString = '<div style="height: 39px;"><div style="font-weight:bold;margin-bottom:5px;">Iсexpert</div>54500, Taavetti, Läntinen puistotie 6</div>';
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });
        var marker = new google.maps.Marker({
                position: position,
                map: map,
                title: "Icexpert"
    });
google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
[[$footer]]