<footer>
    <div class="container">
        [[Wayfinder? &startId=`0` &level=`1` &removeNewLines=`1` &outerTpl=`bottomMenuOuterTpl`
        &rowTpl=`bottomMenuRowTpl`]]
        <div class="contacts-wrapper">
            [[getResourceField? &field=`content` &id=`[[BabelTranslation? &resourceId=`23`
            &contextKey=`[[getCurrentContext]]` &showUnpublished=`1`]]`]]
        </div>
        <div class="copyright">2014-2015 &copy; <a href="[[++site_url]]"
                                              title="[[%siteLogoTitle? &topic=`lexicon` &namespace=`babel`]]">icexpert.net</a>
        </div>
    </div>
</footer>
<script src="/assets/js/scripts.min.js"></script>
<script src="[[~[[BabelTranslation? &resourceId=`50` &contextKey=`[[getCurrentContext]]`]]]]"></script>
</body>
</html>