[[$head]]
<div class="page-wrapper">
    <div class="container">
        <header>
            [[$topMenu]]
        </header>
        <section class="content-wrapper">
            [[$topPageBanner]]
            <div class="col-md-6 leftcolumn toppadding">
                <div class="leftcolumn-title">[[getResourceField? &id=`[[*parent]]` &field=`pagetitle`]]</div>
                [[Wayfinder? &startId=`[[*parent]]` &removeNewLines=`1` &outerTpl=`leftMenuOuterTpl`
                &rowTpl=`leftMenuRowTpl` &hereTpl=`leftMenuActiveRowTpl`]]
            </div>
            <div class="col-md-12 service">
                [[BreadCrumb? &showHomeCrumb=`0` &containerTpl=`breadCrumbContainerTpl`]]
                <h1>[[longtitle]]</h1>
                [[*content]]
            </div>
            <div class="col-md-6 toppadding">
                [[*rightColumnInfo]]
            </div>
            [[*isShowConsultation:is=`1`:then=`[[!$requestConsultation]]`]]
        </section>
        <div class="page-buffer"></div>
    </div>
</div>
[[$footer]]